@model CktMgr.CircuitLib.Circuit;


@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


    <div class="row">
        <div class="col-md-3">
            <p>
                CktMgr is a MVC WebApp that allows CTT's 9M location service area to be searched and
                availability determined. CktMgr does not resolve distance to a Central Office required for some products.
            </p>
            <p>
                CktMgr is built in C#/.Net Framerwork with a back-end SQL-database.  Design-pattern is MVC.  Database access
                methodology is ADO.net.
            </p>
        </div>

    </div>




