@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<div class="container-fluid">

    <h3>@ViewData["Message"]</h3>

    <img id="BillyGibbons" class="img-responsive" src="~/images/IMG_1905.jpg" alt="Alternate Text" />

    <address>
        100 Galleria Parkway, 3rd Floor<br />
        Atlanta, GA 30339<br />
        <abbr title="Phone">P:</abbr>
        404.867.5309 ext: <em>ZZT</em>
    </address>

    <address>
        <strong>Access:</strong> <a href="mailto:NAMquotingAccess@orange.com">NAMquotingAccess@orange.com</a><br />
        <strong>Support:</strong> <a href="mailto:NAMquotingSupport@orange.com">NAMquotingSupport@orange.com</a><br />
        <strong>Development:</strong><a href="mailto:NAMquotingDev@orange.com">NAMquotingDev@orange.comm</a><br />
        <br />

    </address>

</div>


