@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Search for Extended Service Area Location from CTT</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="mylocallink">Search for Locations</a></li>
        </ul>
    </div>
    <div class="col-md-3">

    </div>

    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a asp-controller="Home" asp-action="WhatisAchieved">What does this tool achieve?</a></li>
            <li><a href="#">Explanation of Tiers</a></li>
            <li><a asp-controller="Home" asp-action="WhatIsHFC">What is HFC?</a></li>
            <li><a asp-controller="Home" asp-action="WhatIsEoC">What is EoC?</a></li>
            <li><a href="#">Why isn't EoC in this tool?</a></li>
            <li><a href="#">Who is this tool for?</a></li>
        </ul>
    </div>
</div>
