
@{
    ViewData["Title"] = "WhatIsEoC";
}


<div class="container">
    <div class="col-md-4">
        <h2>What is EoC?</h2>
        <br />
        <p>
            Ehternet-over-Copper (EoC) is a technology that uses mulitple copper-pairs and digital signal-processing in order
            to produce connections that are resilient over legacy cable-plant.  As speeds increase, the distance from a Central-Office
            that can be reached, decreases.  By way of example, a 45MBs EoC connection has a range of 2,000' from a Central Office.
        </p>
        <p>
            Asymmeteric-Ethernet-over-Copper (AsyE) is a variant of EoC where the download speed is much greater than the upload speed.
            AsyE connections are very cost-efficient and can provide maximum speeds of (X/Y)
        </p>
        <p>
            EoC and AsyE are not listed in this tool and database.  The qualification of addresses for EoC or AsyE requires that a
            distance limitation which not embedded in this tool.   See article 'Where is EoC?' for for further info.
        </p>
    </div>



</div>
