
@{
    ViewData["Title"] = "WhatIsHFC";
}


<div class="container">
    <div class="col-md-4">
        <h2>What is HFC?</h2>
        <br />
        <p>Hybrid Fiber Coax (HFC) is the Cable Industry Equivalent of the traditional copper-cable plant of the LEC's. 
        However, coaxial-cable can carry much larger bandwidths than legacy twisted-pair networks.  HFC is typically 
        associated the consumer and lower-end Business Internet service offerings from cable companies such as Comcast,
        Charter /Spectum and Cox. </p>
        <br />
        <p>
        Speeds are usually Asymmeteric, that is, the download speed is much greater than the upload speed.  Such offerings 
        may be sufficient for SOHO-environments and even service tools such as Skype-for-Business.  However, bandwidths are 
        not guaranteed by a Service Level Committment and consumer busy-hours may impact performance.
        </p>
    </div>



</div>



